<section class="feature">
  <h2>قابلیت های ویژه بانواز</h2>
  <div class="feature--items">
    <div class="feature__item">
      <img src="/assets/images/cat.png" alt="cat photo" />
      <p>
        سنسور هایی که برای حیوان های خانگی شما نصب می شوند می توانند با هوش
        مصنوعی گرسنه بودن حیوان شما را تشخیص بدهند.
      </p>
    </div>
    <div class="feature__item">
      <img src="/assets/images/plant(2).png" alt="plant photo" />
      <p>
        با محاسبه حرارت اطراف خاک گیاهان می شود فهمید کی باید دوباره به گیاه آب
        بدهید.
      </p>
    </div>
    <div class="feature__item">
      <img src="/assets/images/work.png" alt="office photo" />
      <p>
        می توانید مدت زمان روشن بودن دستگاه های الکتریکی را کنترل کنید یا حتی
        برای روشن کردن آنها از بانواز کمک بگیرید.
      </p>
    </div>
    <div class="feature__item">
      <img src="/assets/images/door(2).png" alt="door photo" />
      <p>
        باز و بسته شدن درب ها و پنجره ها ، تشخیص حضور انسان و کلی قابلیت دیگه در
        سنسور های بانواز!
      </p>
    </div>
  </div>
</section>
