<section class="hero-section container block">
  <div class="hero__image">
    <img src="/assets/images/apartment.png" alt="apartment" />
  </div>
  <div class="hero__detail">
    <h2 class="hero__title">خیالت از خونه راحت!</h2>
    <p class="hero__text">
      بانواز واژه ای کردی به معنای باخبر ساختن با صدای بلند <br />
      است. درست مثل بانواز! <br />
      با سنسور های بانواز از هیچ اتفاقی بی خبر نیستی! <br />
      چه خونه باشی چه نه.
    </p>
    <button class="btn hero__btn">فروشگاه بانواز</button>
  </div>
</section>
