<section class="services container block">
  <div class="services__item">
    <img src="/assets/images/Door.png" alt="Door Icon" />
    <p>درب و پنچره</p>
  </div>
  <div class="services__item">
    <img src="/assets/images/Plant.png" alt="Plant Icon" />
    <p>گل و گیاه</p>
  </div>
  <div class="services__item">
    <img src="/assets/images/charge.png" alt="Charge Icon" />
    <p>وسایل برقی</p>
  </div>
  <div class="services__item">
    <img src="/assets/images/Lamp.png" alt="Lamp Icon" />
    <p>روشنایی</p>
  </div>
  <div class="services__item">
    <img src="/assets/images/Heating.png" alt="Heating Icon" />
    <p>گرمایشی</p>
  </div>
  <div class="services__item">
    <img src="/assets/images/Pet.png" alt="Pet Icon" />
    <p>حیوانات</p>
  </div>
</section>
